h1{
    text-align: center;
    color:#010804;
}
body{
    background-color: rgb(201, 196, 190);
}p{
    font-size: 25px;
}
#faixa{
    height: 10px;
    width: auto;
    background-color: rgb(129, 92, 44);
}
img {
  border: 3px solid #0e0c0c; /* 3px de largura, cor cinza escuro */
  border-radius: 8px;     /* bordas arredondadas (opcional) */
}